:root {
  --image-count: 10;
  --image-double-count: calc(var(--image-count) * 2);
  --image-speed: 22s;
}

.slider-image{
    height:60%;
    width:60%;
}


.slider {
  background: white;
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1140px;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll var(--image-speed) linear infinite;
  display: flex;
  width: calc(250px * var(--image-double-count));
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 250px;
  width: 250px;
}


.slide{
  margin-right: 10px;
}



@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * var(--image-count)));

      /* transform: translateX(calc(-250px * 25)); */

  }
}